<div class="container mb-3">
    <a href="/devices/add" class="btn btn-primary">Add New</a>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Devices</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Device ID</th>
                        <th>Entity Name</th>
                        <th>Entity Type</th>
                        <th>Transport</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each devices}}
                    <tr>
                        <td>
                            <a href="/delete/{{this.device_id}}" class="btn btn-danger mr-2">Delete</a>
                        </td>
                        <td>{{this.device_id}}</td>
                        <td>{{this.entity_name}}</td>
                        <td>{{this.entity_type}}</td>
                        <td>{{this.transport}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>