<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="inputMarket" class="input-group-text">Market</label>
                </div>
                <select class="custom-select" id="inputMarket">
                    <option value="">Select Market</option>
                    {{#each markets}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="inputFarm" class="input-group-text">Farm</label>
                </div>
                <select class="custom-select" id="inputFarm">
                    <option value="">Select Farm</option>
                    {{#each farms}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="inputField" class="input-group-text">Field</label>
                </div>
                <select class="custom-select" id="inputField">
                    <option value="">Select Field</option>
                    {{#each fields}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="inputProduct" class="input-group-text">Product</label>
                </div>
                <select class="custom-select" id="inputProduct">
                    <option value="">Select Product</option>
                    {{#each products}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>{{title}}</h2>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-6">
                    <div align="center">
                        <h3><span id="barChartTitle">Bar Chart</span></h3>
                    </div>
                    <canvas id="barChart"></canvas>
                </div>
                <div class="col-6">
                    <div align="center">
                        <h3><span id="mapTitle">Maps</span></h3>
                        <div class="map" id="mapid"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div align="center">
                        <h3><span id="lineChartTitle">Line Chart</span></h3>
                    </div>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/dashboard.js"></script>