<div class="jumbotron">
    <h1 class="display-4">Welcome to Food IoT</h1>
    <p class="lead">A Powered By Fiware Application to track food delivery and manage stock content.</p>
    <hr class="my-4">
    <p>A novel logistics module for SWAMP&reg;.</p>
    <a class="btn btn-primary btn-lg mt-4" href="/about" role="button">Learn more</a>
</div>