<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Add Farm</h2>
        </div>
        <div class="card-body">
            <form action="/devices/add" method="post">
                <div class="form-group">
                    <label for="deviceID">Device ID</label>
                    <input type="text" name="device_id" class="form-control" id="deviceID" placeholder="e.g.: motion001"
                        required>
                </div>
                <div class="form-group">
                    <label for="entityName">Entity Name</label>
                    <input type="text" name="entity_name" class="form-control" id="entityName"
                        placeholder="e.g: urn:ngsi-ld:Motion:001" required>
                </div>
                <div class="form-group">
                    <label for="entityType">Entity Type</label>
                    <input type="text" name="entity_type" class="form-control" id="entityType" placeholder="e.g: Motion"
                        required>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Attributes</h5>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="objectId">Object Id</label>
                                <input type="text" name="attributes[0][object_id]" class="form-control" id="objectId"
                                    placeholder="e.g: c" required>
                            </div>
                            <div class="col">
                                <label for="name">Name</label>
                                <input type="text" name="attributes[0][name]" class="form-control" id="name"
                                    placeholder="e.g: count" required>
                            </div>
                            <div class="col">
                                <label for="type">Type</label>
                                <input type="text" name="attributes[0][type]" class="form-control" id="type"
                                    placeholder="e.g: Integer" required>
                            </div>
                        </div>

                        <div class="container mb-3">
                            <a href="#extraAttrs" class="btn btn-primary" data-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="extraAttrs">
                                Toggle more
                            </a>
                        </div>

                        <div class="collapse" id="extraAttrs">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="objectId">Object Id</label>
                                    <input type="text" name="attributes[1][object_id]" class="form-control"
                                        id="objectId" placeholder="e.g: c">
                                </div>
                                <div class="col">
                                    <label for="name">Name</label>
                                    <input type="text" name="attributes[1][name]" class="form-control" id="name"
                                        placeholder="e.g: count">
                                </div>
                                <div class="col">
                                    <label for="type">Type</label>
                                    <input type="text" name="attributes[1][type]" class="form-control" id="type"
                                        placeholder="e.g: Integer">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="objectId">Object Id</label>
                                    <input type="text" name="attributes[2][object_id]" class="form-control"
                                        id="objectId" placeholder="e.g: c">
                                </div>
                                <div class="col">
                                    <label for="name">Name</label>
                                    <input type="text" name="attributes[2][name]" class="form-control" id="name"
                                        placeholder="e.g: count">
                                </div>
                                <div class="col">
                                    <label for="type">Type</label>
                                    <input type="text" name="attributes[2][type]" class="form-control" id="type"
                                        placeholder="e.g: Integer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Static Attributes</h5>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="staticName">Name</label>
                                <input type="text" name="static_attributes[0][name]" class="form-control"
                                    id="staticName" placeholder="e.g: refStore" required>
                            </div>
                            <div class="col">
                                <label for="staticType">Type</label>
                                <input type="text" name="static_attributes[0][type]" class="form-control"
                                    id="staticType" placeholder="e.g: Relationship" required>
                            </div>
                            <div class="col">
                                <label for="staticValue">Value</label>
                                <input type="text" name="static_attributes[0][value]" class="form-control"
                                    id="staticValue" placeholder="e.g: urn:ngsi-ld:Store:001" required>
                            </div>
                        </div>

                        <div class="container mb-3">
                            <a href="#extraStaticAttrs" class="btn btn-primary" data-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="extraStaticAttrs">
                                Toggle more
                            </a>
                        </div>

                        <div class="collapse" id="extraStaticAttrs">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="staticName">Name</label>
                                    <input type="text" name="static_attributes[1][name]" class="form-control"
                                        id="staticName" placeholder="e.g: refStore">
                                </div>
                                <div class="col">
                                    <label for="staticType">Type</label>
                                    <input type="text" name="static_attributes[1][type]" class="form-control"
                                        id="staticType" placeholder="e.g: Relationship">
                                </div>
                                <div class="col">
                                    <label for="staticValue">Value</label>
                                    <input type="text" name="static_attributes[1][value]" class="form-control"
                                        id="staticValue" placeholder="e.g: urn:ngsi-ld:Store:001">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="staticName">Name</label>
                                    <input type="text" name="static_attributes[2][name]" class="form-control"
                                        id="staticName" placeholder="e.g: refStore">
                                </div>
                                <div class="col">
                                    <label for="staticType">Type</label>
                                    <input type="text" name="static_attributes[2][type]" class="form-control"
                                        id="staticType" placeholder="e.g: Relationship">
                                </div>
                                <div class="col">
                                    <label for="staticValue">Value</label>
                                    <input type="text" name="static_attributes[2][value]" class="form-control"
                                        id="staticValue" placeholder="e.g: urn:ngsi-ld:Store:001">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<script>


</script>